<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0px;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even) {
    background-color: #e4e3e3;
}

.section__title {
    margin-bottom: 20px;
}
/* Nav bar section */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav__link--anchor {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    color: white;
    border-radius: 50px;
}
.nav__link--anchor:hover {
    background-color: #3406fd;
    color: white;
    transition: all 300ms ease;
}
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;

}

/* About Me Section */
.about-me__name {
    font-size: 36px;
    font-weight: 700;
    color: black;
}
.about-me__name--highlight {
    color: #6030b1;
    font-style: italic;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.about-me__picture {
    width: 100%;
    /*improving my own picture*/
   transform: scale(1.5);

}

.about-me__info--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__info--title {
    margin-bottom: 10px;
}

.about-me__info--para{ 
    font-size: 18px;
    margin-bottom: 28px;

}

.about-me__link {
    padding: 0 16px;
    color: #6030b1;
    text-decoration: none;
    font-size: 20px;
}

.about-me__image--container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.about-me__image {
    width: 100%;
    max-width: 500px;
}

/* tech stack */

.language__image {
        width: 100%;
        max-width: 100px;
        transition: all 300ms ease;
    }
.language__image:hover {
    transform: scale(.9);
    filter:brightness(80%);
    opacity: .86;
}

.language:hover .language__name--hover {
    opacity: 1;
    transform: scale(1);
}


.language__name--hover {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
}

.language {
    position: relative;
    width: 25%;
}

.language__image--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.languages__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.languages__title--highlight {
    color: #6030b1;
    font-style: bold;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}